/* FAQ Container */
.faq_container {
  width: 70%;
  padding: 30px;
  background: #59889d;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: auto;
  margin: 50px auto;
}

.faq_title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

/* FAQ Items */
.faq_item {
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.faq_item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.faq_question {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
}

.faq_question:hover {
  color: #015e86;
}

.faq_icon {
  font-size: 22px;
  color: #015e86;
  transition: transform 0.3s ease;
}

.faq_icon:hover {
  transform: scale(1.2);
}

.faq_answer {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  padding-left: 10px;
  display: none;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-in;
}

.faq_answer.show {
  display: block;
  opacity: 1;
}

.arrow_icon {
  margin-right: 5px;
  color: #015e86;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .faq_container {
    width: 90%;
    padding: 20px;
  }

  .faq_title {
    font-size: 24px;
  }

  .faq_question {
    font-size: 16px;
  }

  .faq_answer {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .faq_container {
    width: 95%;
    padding: 15px;
  }

  .faq_title {
    font-size: 22px;
  }

  .faq_item {
    padding: 15px;
  }

  .faq_question {
    font-size: 15px;
  }

  .faq_icon {
    font-size: 20px;
  }

  .faq_answer {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .faq_container {
    width: 100%;
    padding: 0px 10px;
    
  }

  .faq_title {
    font-size: 20px;
  }

  .faq_item {
    padding: 10px;
  }

  .faq_question {
    font-size: 14px;
  }

  .faq_icon {
    font-size: 18px;
  }

  .faq_answer {
    font-size: 12px;
  }
}