

.header_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background: linear-gradient(180deg, #edfdfe 0%, #ebfdfe 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  width: 100%;
  /* top: 0; */
  /* left: 0; */
  z-index: 1000;
}

.header_logo_side .logo {
  height: 75px;
}

.navbaar_wrapper {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navlink {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #007bff;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbaar_wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    display: none;
    padding: 10px 0;
  }
  .header_logo_side .logo {
    height: 50px;
}

  .show_menu {
    display: flex;
  }

  .nav_links {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .hamburger {
    display: block;
  }
}
